<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postal Rate Result</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <header>

    </header>
    <main>
        <div class="content-width">
            <h1>Your Service</h1>

            <p>You have chosen the <%= readableType %>.</p>

            <p>With a pacacke that weighs <%= mailWeight %>oz, that will cost you US$ <%= result %>.</p>
            
            <div class="display-results">

            </div>
        </div>
    </main>
    <footer>

    </footer>   

    <script src="/javascript/functions.js"></script>
</body>
</html>